@using Microsoft.AspNetCore.Components.Web
@using Suityou.Framework.Web.Common
@using Suityou.Framework.Web.Service
@inject IConfiguration configuration
@inject AppSettingService appSetting
@namespace BlazorAppNoAuth.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    @{
        string appSettingFile = configuration["CustomSetting:AppSettingFile"];
        switch (appSetting.CSSStyle(appSettingFile))
        {
            case SuityouWFWConst.CSS_STYLE_BLUE:
                <link href="css/wfw/blue.css" rel="stylesheet" />
                break;
            case SuityouWFWConst.CSS_STYLE_GREEN:
                <link href="css/wfw/green.css" rel="stylesheet" />
                break;
            case SuityouWFWConst.CSS_STYLE_ORANGE:
                <link href="css/wfw/orange.css" rel="stylesheet" />
                break;
            default:
                <link href="css/wfw/standard.css" rel="stylesheet" />
                break;
        }
    }
    <link href="BlazorAppNoAuth.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/js/wfw/common.js"></script>
</body>
</html>